@import (reference) "styles/variables";
@import (reference) "styles/responsive";

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-style: solid;
  .var(border-width, gallery-border-width);
  .var(border-color, gallery-border-color);
}

.item {
  width: 100%;
  padding-top: 50%;
  .var(background, gallery-background);
  position: relative;

  &--fetching:before {
    content: "\ea85";
    speak: none;
    display: inline-block;
    font-family: 'Icons';
    line-height: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__container {
    width: 33.3333%;
    .var(padding, gallery-margin);
  }

  .for-tablet({
    &__container {
      width: 50%;
    }
  });

  .for-phone({
    &__container {
      width: 100%;
    }
  });
}