/* stylelint-disable */
// Media queries breakpoints
@screen-xs: 480px; // Extra small screen / phone
@screen-sm: 768px; // Small screen / tablet
@screen-md: 992px; // Medium screen / desktop
@screen-lg: 1200px; // Large screen / wide desktop

.for-wide-desktop(@rules) {
  @media only screen and (max-width: @screen-lg) {
    @rules();
  }
}

.for-desktop(@rules) {
  @media only screen and (max-width: @screen-md) {
    @rules();
  }
}

.for-tablet(@rules) {
  @media only screen and (max-width: @screen-sm) {
    @rules();
  }
}

.for-phone(@rules) {
  @media only screen and (max-width: @screen-xs) {
    @rules();
  }
}