@import "./variables";

:global {
  * {
    box-sizing: border-box;
  }

  html {
    .var(font-size, base-size);
  }

  body {
    margin: 0;
    padding: 0;
    .var(background);
    .font('base');
  }

  a {
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
    outline: none;
  }
}
