@background: #fff;
@base-weight: 400;
@base-size: 14px;
@base-color: #3a3a3a;
@base-font: Helvetica, 'Trebuchet MS', Arial, sans-serif;

@content-max-width: 1280px;
@content-padding: 30px;
@content-quote-deco: #71ddc2;
@content-quote-color: #ababab;
@content-address-color: #747474;
@content-header-color: #000000;

@header-height: 189px;
@nav-height: 50px;
@nav-padding: 0 15px;
@nav-background: #71ddc2;
@nav-color: #fff;

@gallery-background: #f4f4f4;
@gallery-margin: 0 4px 7px;
@gallery-border-color: #f9f9f9;
@gallery-border-width: 10px;

@nav-icon-size: 32px;
@nav-icon-margin: 0 8px;

@logo-size: 130px;

:root {
  --background: @background;
  --base-size: @base-size;
  --base-size: @base-size;
  --base-color: @base-color;
  --header-height: @header-height;
  --nav-background: @nav-background;
  --nav-height: @nav-height;
  --nav-padding: @nav-padding;
  --nav-color: @nav-color;
  --nav-icon-size: @nav-icon-size;
  --nav-icon-margin: @nav-icon-margin;
  --content-max-width: @content-max-width;
  --content-padding: @content-padding;
  --content-quote-deco: @content-quote-deco;
  --content-quote-color: @content-quote-color;
  --content-address-color: @content-address-color;
  --content-header-color: @content-header-color;
  --logo-size: @logo-size;
  --gallery-margin: @gallery-margin;
  --gallery-background: @gallery-background;
  --gallery-border-color: @gallery-border-color;
  --gallery-border-width: @gallery-border-width;
}

.var(@property, @name: @property) {
  @{property}: @@name;
  @{property}: ~"var(--@{name})";
}

.truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font(@style: 'base', @color: base-color, @font-size: 1rem, @line-height: 1.2) {
  font: ~"@{@{style}-weight}" @font-size/@line-height ~"@{@{style}-font}";
  .var(color, @color);
}

.clearfix() {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}
