@font-face {
  font-family: 'Icons';
  src:
    url('./fonts/boxicons.eot'),
    url('./fonts/boxicons.eot') format('embedded-opentype'),
    url('./fonts/boxicons.woff2') format('woff'),
    url('./fonts/boxicons.woff') format('woff'),
    url('./fonts/boxicons.ttf') format('truetype'),
    url('./fonts/boxicons.svg#boxicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
.icon {
  font-size: 0;
  display: inline-block;

  &:before {
    speak: none;
    color: inherit;
    display: inline-block;
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &--accessibility:before { content: "\e970"; }
  &--add-to-queue:before { content: "\e971"; }
  &--adjust:before { content: "\e972"; }
  &--alarm:before { content: "\e973"; }
  &--alarm-add:before { content: "\e974"; }
  &--alarm-off:before { content: "\e975"; }
  &--album:before { content: "\e976"; }
  &--align-justify:before { content: "\e977"; }
  &--align-left:before { content: "\e978"; }
  &--align-middle:before { content: "\e979"; }
  &--align-right:before { content: "\e97a"; }
  &--analyse:before { content: "\e97b"; }
  &--anchor:before { content: "\e97c"; }
  &--angry:before { content: "\e97d"; }
  &--aperture:before { content: "\e97e"; }
  &--archive:before { content: "\e97f"; }
  &--archive-in:before { content: "\e980"; }
  &--archive-out:before { content: "\e981"; }
  &--area:before { content: "\e982"; }
  &--arrow-back:before { content: "\e983"; }
  &--at:before { content: "\e984"; }
  &--award:before { content: "\e985"; }
  &--badge:before { content: "\e986"; }
  &--badge-check:before { content: "\e987"; }
  &--ball:before { content: "\e988"; }
  &--band-aid:before { content: "\e989"; }
  &--bar-chart:before { content: "\e98a"; }
  &--bar-chart-alt:before { content: "\e98b"; }
  &--bar-chart-alt-2:before { content: "\e98c"; }
  &--bar-chart-square:before { content: "\e98d"; }
  &--barcode:before { content: "\e98e"; }
  &--basket:before { content: "\e98f"; }
  &--basketball:before { content: "\e990"; }
  &--bath:before { content: "\e991"; }
  &--battery:before { content: "\e992"; }
  &--bed:before { content: "\e993"; }
  &--bell:before { content: "\e994"; }
  &--bell-minus:before { content: "\e995"; }
  &--bell-off:before { content: "\e996"; }
  &--bell-plus:before { content: "\e997"; }
  &--bitcoin:before { content: "\e998"; }
  &--block:before { content: "\e999"; }
  &--bluetooth:before { content: "\e99a"; }
  &--body:before { content: "\e99b"; }
  &--bold:before { content: "\e99c"; }
  &--bolt-circle:before { content: "\e99d"; }
  &--book:before { content: "\e99e"; }
  &--book-bookmark:before { content: "\e99f"; }
  &--book-content:before { content: "\e9a0"; }
  &--bookmark:before { content: "\e9a1"; }
  &--bookmark-minus:before { content: "\e9a2"; }
  &--bookmark-plus:before { content: "\e9a3"; }
  &--bookmarks:before { content: "\e9a4"; }
  &--book-open:before { content: "\e9a5"; }
  &--border-all:before { content: "\e9a6"; }
  &--border-bottom:before { content: "\e9a7"; }
  &--border-left:before { content: "\e9a8"; }
  &--border-radius:before { content: "\e9a9"; }
  &--border-right:before { content: "\e9aa"; }
  &--border-top:before { content: "\e9ab"; }
  &--bot:before { content: "\e9ac"; }
  &--bowling-ball:before { content: "\e9ad"; }
  &--box:before { content: "\e9ae"; }
  &--briefcase:before { content: "\e9af"; }
  &--briefcase-alt:before { content: "\e9b0"; }
  &--briefcase-alt-2:before { content: "\e9b1"; }
  &--brightness:before { content: "\e9b2"; }
  &--brightness-half:before { content: "\e9b3"; }
  &--broadcast:before { content: "\e9b4"; }
  &--brush:before { content: "\e9b5"; }
  &--brush-alt:before { content: "\e9b6"; }
  &--bug:before { content: "\e9b7"; }
  &--bug-alt:before { content: "\e9b8"; }
  &--building:before { content: "\e9b9"; }
  &--building-house:before { content: "\e9ba"; }
  &--buildings:before { content: "\e9bb"; }
  &--bulb:before { content: "\e9bc"; }
  &--bullseye:before { content: "\e9bd"; }
  &--buoy:before { content: "\e9be"; }
  &--bus:before { content: "\e9bf"; }
  &--cake:before { content: "\e9c0"; }
  &--calculator:before { content: "\e9c1"; }
  &--calendar:before { content: "\e9c2"; }
  &--calendar-alt:before { content: "\e9c3"; }
  &--calendar-check:before { content: "\e9c4"; }
  &--calendar-event:before { content: "\e9c5"; }
  &--calendar-minus:before { content: "\e9c6"; }
  &--calendar-plus:before { content: "\e9c7"; }
  &--calendar-x:before { content: "\e9c8"; }
  &--camera:before { content: "\e9c9"; }
  &--camera-off:before { content: "\e9ca"; }
  &--captions:before { content: "\e9cb"; }
  &--car:before { content: "\e9cc"; }
  &--card:before { content: "\e9cd"; }
  &--caret-down:before { content: "\e9ce"; }
  &--caret-left:before { content: "\e9cf"; }
  &--caret-right:before { content: "\e9d0"; }
  &--caret-up:before { content: "\e9d1"; }
  &--carousel:before { content: "\e9d2"; }
  &--cart:before { content: "\e9d3"; }
  &--cart-alt:before { content: "\e9d4"; }
  &--cast:before { content: "\e9d5"; }
  &--certification:before { content: "\e9d6"; }
  &--chalkboard:before { content: "\e9d7"; }
  &--chart:before { content: "\e9d8"; }
  &--chat:before { content: "\e9d9"; }
  &--check:before { content: "\e9da"; }
  &--checkbox:before { content: "\e9db"; }
  &--checkbox-checked:before { content: "\e9dc"; }
  &--checkbox-square:before { content: "\e9dd"; }
  &--check-circle:before { content: "\e9de"; }
  &--check-double:before { content: "\e9df"; }
  &--check-shield:before { content: "\e9e0"; }
  &--check-square:before { content: "\e9e1"; }
  &--chevron-down:before { content: "\e9e2"; }
  &--chevron-left:before { content: "\e9e3"; }
  &--chevron-right:before { content: "\e9e4"; }
  &--chevrons-down:before { content: "\e9e5"; }
  &--chevrons-left:before { content: "\e9e6"; }
  &--chevrons-right:before { content: "\e9e7"; }
  &--chevrons-up:before { content: "\e9e8"; }
  &--chevron-up:before { content: "\e9e9"; }
  &--chip:before { content: "\e9ea"; }
  &--circle:before { content: "\e9eb"; }
  &--clinic:before { content: "\e9ec"; }
  &--clipboard:before { content: "\e9ed"; }
  &--closet:before { content: "\e9ee"; }
  &--cloud:before { content: "\e9ef"; }
  &--cloud-download:before { content: "\e9f0"; }
  &--cloud-drizzle:before { content: "\e9f1"; }
  &--cloud-lightning:before { content: "\e9f2"; }
  &--cloud-light-rain:before { content: "\e9f3"; }
  &--cloud-rain:before { content: "\e9f4"; }
  &--cloud-snow:before { content: "\e9f5"; }
  &--cloud-upload:before { content: "\e9f6"; }
  &--code:before { content: "\e9f7"; }
  &--code-alt:before { content: "\e9f8"; }
  &--code-block:before { content: "\e9f9"; }
  &--code-curly:before { content: "\e9fa"; }
  &--coffee:before { content: "\e9fb"; }
  &--cog:before { content: "\e9fc"; }
  &--collapse:before { content: "\e9fd"; }
  &--collection:before { content: "\e9fe"; }
  &--columns:before { content: "\e9ff"; }
  &--command:before { content: "\ea00"; }
  &--comment:before { content: "\ea01"; }
  &--comment-dots:before { content: "\ea02"; }
  &--compass:before { content: "\ea03"; }
  &--confused:before { content: "\ea04"; }
  &--conversation:before { content: "\ea05"; }
  &--cool:before { content: "\ea06"; }
  &--copy:before { content: "\ea07"; }
  &--copy-alt:before { content: "\ea08"; }
  &--copyright:before { content: "\ea09"; }
  &--credit-card:before { content: "\ea0a"; }
  &--credit-card-alt:before { content: "\ea0b"; }
  &--crop:before { content: "\ea0c"; }
  &--crosshair:before { content: "\ea0d"; }
  &--crown:before { content: "\ea0e"; }
  &--cube:before { content: "\ea0f"; }
  &--cube-alt:before { content: "\ea10"; }
  &--cuboid:before { content: "\ea11"; }
  &--customize:before { content: "\ea12"; }
  &--cut:before { content: "\ea13"; }
  &--cycling:before { content: "\ea14"; }
  &--cylinder:before { content: "\ea15"; }
  &--data:before { content: "\ea16"; }
  &--desktop:before { content: "\ea17"; }
  &--detail:before { content: "\ea18"; }
  &--devices:before { content: "\ea19"; }
  &--dialpad:before { content: "\ea1a"; }
  &--dialpad-alt:before { content: "\ea1b"; }
  &--diamond:before { content: "\ea1c"; }
  &--directions:before { content: "\ea1d"; }
  &--disc:before { content: "\ea1e"; }
  &--dish:before { content: "\ea1f"; }
  &--dislike:before { content: "\ea20"; }
  &--dizzy:before { content: "\ea21"; }
  &--dna:before { content: "\ea22"; }
  &--dock-bottom:before { content: "\ea23"; }
  &--dock-left:before { content: "\ea24"; }
  &--dock-right:before { content: "\ea25"; }
  &--dock-top:before { content: "\ea26"; }
  &--dollar:before { content: "\ea27"; }
  &--dollar-circle:before { content: "\ea28"; }
  &--dots-horizontal:before { content: "\ea29"; }
  &--dots-horizontal-rounded:before { content: "\ea2a"; }
  &--dots-vertical:before { content: "\ea2b"; }
  &--dots-vertical-rounded:before { content: "\ea2c"; }
  &--doughnut-chart:before { content: "\ea2d"; }
  &--down-arrow:before { content: "\ea2e"; }
  &--down-arrow-alt:before { content: "\ea2f"; }
  &--down-arrow-circle:before { content: "\ea30"; }
  &--download:before { content: "\ea31"; }
  &--downvote:before { content: "\ea32"; }
  &--droplet:before { content: "\ea33"; }
  &--dumbbell:before { content: "\ea34"; }
  &--duplicate:before { content: "\ea35"; }
  &--edit:before { content: "\ea36"; }
  &--edit-alt:before { content: "\ea37"; }
  &--envelope:before { content: "\ea38"; }
  &--equalizer:before { content: "\ea39"; }
  &--error:before { content: "\ea3a"; }
  &--error-alt:before { content: "\ea3b"; }
  &--error-circle:before { content: "\ea3c"; }
  &--euro:before { content: "\ea3d"; }
  &--exit:before { content: "\ea3e"; }
  &--exit-fullscreen:before { content: "\ea3f"; }
  &--expand:before { content: "\ea40"; }
  &--export:before { content: "\ea41"; }
  &--extension:before { content: "\ea42"; }
  &--face:before { content: "\ea43"; }
  &--fast-forward:before { content: "\ea44"; }
  &--fast-forward-circle:before { content: "\ea45"; }
  &--female:before { content: "\ea46"; }
  &--female-sign:before { content: "\ea47"; }
  &--file:before { content: "\ea48"; }
  &--file-blank:before { content: "\ea49"; }
  &--file-find:before { content: "\ea4a"; }
  &--film:before { content: "\ea4b"; }
  &--filter:before { content: "\ea4c"; }
  &--filter-alt:before { content: "\ea4d"; }
  &--fingerprint:before { content: "\ea4e"; }
  &--first-aid:before { content: "\ea4f"; }
  &--first-page:before { content: "\ea50"; }
  &--flag:before { content: "\ea51"; }
  &--folder:before { content: "\ea52"; }
  &--folder-minus:before { content: "\ea53"; }
  &--folder-open:before { content: "\ea54"; }
  &--folder-plus:before { content: "\ea55"; }
  &--font:before { content: "\ea56"; }
  &--font-color:before { content: "\ea57"; }
  &--font-family:before { content: "\ea58"; }
  &--font-size:before { content: "\ea59"; }
  &--food-menu:before { content: "\ea5a"; }
  &--food-tag:before { content: "\ea5b"; }
  &--football:before { content: "\ea5c"; }
  &--fridge:before { content: "\ea5d"; }
  &--fullscreen:before { content: "\ea5e"; }
  &--gas-pump:before { content: "\ea5f"; }
  &--ghost:before { content: "\ea60"; }
  &--gift:before { content: "\ea61"; }
  &--git-branch:before { content: "\ea62"; }
  &--git-commit:before { content: "\ea63"; }
  &--git-compare:before { content: "\ea64"; }
  &--git-merge:before { content: "\ea65"; }
  &--git-pull-request:before { content: "\ea66"; }
  &--git-repo-forked:before { content: "\ea67"; }
  &--globe:before { content: "\ea68"; }
  &--globe-alt:before { content: "\ea69"; }
  &--grid:before { content: "\ea6a"; }
  &--grid-alt:before { content: "\ea6b"; }
  &--grid-horizontal:before { content: "\ea6c"; }
  &--grid-small:before { content: "\ea6d"; }
  &--grid-vertical:before { content: "\ea6e"; }
  &--group:before { content: "\ea6f"; }
  &--handicap:before { content: "\ea70"; }
  &--happy:before { content: "\ea71"; }
  &--happy-alt:before { content: "\ea72"; }
  &--happy-beaming:before { content: "\ea73"; }
  &--happy-heart-eyes:before { content: "\ea74"; }
  &--hash:before { content: "\ea75"; }
  &--hdd:before { content: "\ea76"; }
  &--heading:before { content: "\ea77"; }
  &--headphone:before { content: "\ea78"; }
  &--health:before { content: "\ea79"; }
  &--heart:before { content: "\ea7a"; }
  &--help-circle:before { content: "\ea7b"; }
  &--hide:before { content: "\ea7c"; }
  &--highlight:before { content: "\ea7d"; }
  &--history:before { content: "\ea7e"; }
  &--hive:before { content: "\ea7f"; }
  &--home:before { content: "\ea80"; }
  &--home-alt:before { content: "\ea81"; }
  &--home-circle:before { content: "\ea82"; }
  &--horizontal-center:before { content: "\ea83"; }
  &--hotel:before { content: "\ea84"; }
  &--hourglass:before { content: "\ea85"; }
  &--id-card:before { content: "\ea86"; }
  &--image:before { content: "\ea87"; }
  &--image-add:before { content: "\ea88"; }
  &--image-alt:before { content: "\ea89"; }
  &--images:before { content: "\ea8a"; }
  &--import:before { content: "\ea8b"; }
  &--infinite:before { content: "\ea8c"; }
  &--info-circle:before { content: "\ea8d"; }
  &--italic:before { content: "\ea8e"; }
  &--joystick:before { content: "\ea8f"; }
  &--joystick-alt:before { content: "\ea90"; }
  &--joystick-button:before { content: "\ea91"; }
  &--key:before { content: "\ea92"; }
  &--label:before { content: "\ea93"; }
  &--landscape:before { content: "\ea94"; }
  &--laptop:before { content: "\ea95"; }
  &--last-page:before { content: "\ea96"; }
  &--laugh:before { content: "\ea97"; }
  &--layer:before { content: "\ea98"; }
  &--layout:before { content: "\ea99"; }
  &--left-arrow:before { content: "\ea9a"; }
  &--left-arrow-alt:before { content: "\ea9b"; }
  &--left-arrow-circle:before { content: "\ea9c"; }
  &--left-down-arrow-circle:before { content: "\ea9d"; }
  &--left-indent:before { content: "\ea9e"; }
  &--left-top-arrow-circle:before { content: "\ea9f"; }
  &--like:before { content: "\eaa0"; }
  &--line-chart:before { content: "\eaa1"; }
  &--link:before { content: "\eaa2"; }
  &--link-alt:before { content: "\eaa3"; }
  &--link-external:before { content: "\eaa4"; }
  &--lira:before { content: "\eaa5"; }
  &--list-check:before { content: "\eaa6"; }
  &--list-minus:before { content: "\eaa7"; }
  &--list-ol:before { content: "\eaa8"; }
  &--list-plus:before { content: "\eaa9"; }
  &--list-ul:before { content: "\eaaa"; }
  &--loader:before { content: "\eaab"; }
  &--loader-alt:before { content: "\eaac"; }
  &--loader-circle:before { content: "\eaad"; }
  &--lock:before { content: "\eaae"; }
  &--lock-alt:before { content: "\eaaf"; }
  &--lock-open:before { content: "\eab0"; }
  &--lock-open-alt:before { content: "\eab1"; }
  &--log-in:before { content: "\eab2"; }
  &--log-in-circle:before { content: "\eab3"; }
  &--log-out:before { content: "\eab4"; }
  &--log-out-circle:before { content: "\eab5"; }
  &--magnet:before { content: "\eab6"; }
  &--mail-send:before { content: "\eab7"; }
  &--male:before { content: "\eab8"; }
  &--male-sign:before { content: "\eab9"; }
  &--map:before { content: "\eaba"; }
  &--map-alt:before { content: "\eabb"; }
  &--map-pin:before { content: "\eabc"; }
  &--meh:before { content: "\eabd"; }
  &--meh-alt:before { content: "\eabe"; }
  &--meh-blank:before { content: "\eabf"; }
  &--memory-card:before { content: "\eac0"; }
  &--menu:before { content: "\eac1"; }
  &--menu-alt-left:before { content: "\eac2"; }
  &--menu-alt-right:before { content: "\eac3"; }
  &--message:before { content: "\eac4"; }
  &--message-alt:before { content: "\eac5"; }
  &--message-alt-dots:before { content: "\eac6"; }
  &--message-dots:before { content: "\eac7"; }
  &--message-rounded:before { content: "\eac8"; }
  &--message-rounded-dots:before { content: "\eac9"; }
  &--message-square:before { content: "\eaca"; }
  &--message-square-dots:before { content: "\eacb"; }
  &--microphone:before { content: "\eacc"; }
  &--microphone-off:before { content: "\eacd"; }
  &--minus:before { content: "\eace"; }
  &--minus-circle:before { content: "\eacf"; }
  &--mobile:before { content: "\ead0"; }
  &--mobile-alt:before { content: "\ead1"; }
  &--mobile-landscape:before { content: "\ead2"; }
  &--mobile-vibration:before { content: "\ead3"; }
  &--money:before { content: "\ead4"; }
  &--moon:before { content: "\ead5"; }
  &--mouse:before { content: "\ead6"; }
  &--mouse-alt:before { content: "\ead7"; }
  &--move:before { content: "\ead8"; }
  &--move-horizontal:before { content: "\ead9"; }
  &--move-vertical:before { content: "\eada"; }
  &--movie:before { content: "\eadb"; }
  &--music:before { content: "\eadc"; }
  &--navigation:before { content: "\eadd"; }
  &--news:before { content: "\eade"; }
  &--no-entry:before { content: "\eadf"; }
  &--note:before { content: "\eae0"; }
  &--notepad:before { content: "\eae1"; }
  &--notification:before { content: "\eae2"; }
  &--notification-off:before { content: "\eae3"; }
  &--package:before { content: "\eae4"; }
  &--paint:before { content: "\eae5"; }
  &--paint-roll:before { content: "\eae6"; }
  &--palette:before { content: "\eae7"; }
  &--paperclip:before { content: "\eae8"; }
  &--paper-plane:before { content: "\eae9"; }
  &--paragraph:before { content: "\eaea"; }
  &--paste:before { content: "\eaeb"; }
  &--pause:before { content: "\eaec"; }
  &--pause-circle:before { content: "\eaed"; }
  &--pen:before { content: "\eaee"; }
  &--pencil:before { content: "\eaef"; }
  &--phone:before { content: "\eaf0"; }
  &--phone-call:before { content: "\eaf1"; }
  &--phone-incoming:before { content: "\eaf2"; }
  &--phone-outgoing:before { content: "\eaf3"; }
  &--photo-album:before { content: "\eaf4"; }
  &--pie-chart:before { content: "\eaf5"; }
  &--pie-chart-alt:before { content: "\eaf6"; }
  &--pie-chart-alt-2:before { content: "\eaf7"; }
  &--pin:before { content: "\eaf8"; }
  &--planet:before { content: "\eaf9"; }
  &--play:before { content: "\eafa"; }
  &--play-circle:before { content: "\eafb"; }
  &--plug:before { content: "\eafc"; }
  &--plus:before { content: "\eafd"; }
  &--plus-circle:before { content: "\eafe"; }
  &--plus-medical:before { content: "\eaff"; }
  &--poll:before { content: "\eb00"; }
  &--polygon:before { content: "\eb01"; }
  &--pound:before { content: "\eb02"; }
  &--power-off:before { content: "\eb03"; }
  &--printer:before { content: "\eb04"; }
  &--pulse:before { content: "\eb05"; }
  &--purchase-tag:before { content: "\eb06"; }
  &--purchase-tag-alt:before { content: "\eb07"; }
  &--pyramid:before { content: "\eb08"; }
  &--question-mark:before { content: "\eb09"; }
  &--radar:before { content: "\eb0a"; }
  &--radio:before { content: "\eb0b"; }
  &--radio-circle:before { content: "\eb0c"; }
  &--radio-circle-marked:before { content: "\eb0d"; }
  &--receipt:before { content: "\eb0e"; }
  &--rectangle:before { content: "\eb0f"; }
  &--redo:before { content: "\eb10"; }
  &--rename:before { content: "\eb11"; }
  &--repeat:before { content: "\eb12"; }
  &--reply:before { content: "\eb13"; }
  &--reply-all:before { content: "\eb14"; }
  &--repost:before { content: "\eb15"; }
  &--reset:before { content: "\eb16"; }
  &--restaurant:before { content: "\eb17"; }
  &--revision:before { content: "\eb18"; }
  &--rewind:before { content: "\eb19"; }
  &--rewind-circle:before { content: "\eb1a"; }
  &--right-arrow:before { content: "\eb1b"; }
  &--right-arrow-alt:before { content: "\eb1c"; }
  &--right-arrow-circle:before { content: "\eb1d"; }
  &--right-down-arrow-circle:before { content: "\eb1e"; }
  &--right-indent:before { content: "\eb1f"; }
  &--right-top-arrow-circle:before { content: "\eb20"; }
  &--rocket:before { content: "\eb21"; }
  &--rotate-left:before { content: "\eb22"; }
  &--rotate-right:before { content: "\eb23"; }
  &--rss:before { content: "\eb24"; }
  &--ruble:before { content: "\eb25"; }
  &--ruler:before { content: "\eb26"; }
  &--run:before { content: "\eb27"; }
  &--rupee:before { content: "\eb28"; }
  &--sad:before { content: "\eb29"; }
  &--save:before { content: "\eb2a"; }
  &--screenshot:before { content: "\eb2b"; }
  &--search:before { content: "\eb2c"; }
  &--search-alt:before { content: "\eb2d"; }
  &--search-alt-2:before { content: "\eb2e"; }
  &--selection:before { content: "\eb2f"; }
  &--select-multiple:before { content: "\eb30"; }
  &--send:before { content: "\eb31"; }
  &--server:before { content: "\eb32"; }
  &--shape-circle:before { content: "\eb33"; }
  &--shape-square:before { content: "\eb34"; }
  &--shape-triangle:before { content: "\eb35"; }
  &--share:before { content: "\eb36"; }
  &--share-alt:before { content: "\eb37"; }
  &--shekel:before { content: "\eb38"; }
  &--shield:before { content: "\eb39"; }
  &--shield-alt:before { content: "\eb3a"; }
  &--shield-alt-2:before { content: "\eb3b"; }
  &--shield-quarter:before { content: "\eb3c"; }
  &--shocked:before { content: "\eb3d"; }
  &--shopping-bag:before { content: "\eb3e"; }
  &--show:before { content: "\eb3f"; }
  &--show-alt:before { content: "\eb40"; }
  &--shuffle:before { content: "\eb41"; }
  &--sidebar:before { content: "\eb42"; }
  &--sitemap:before { content: "\eb43"; }
  &--skip-next:before { content: "\eb44"; }
  &--skip-next-circle:before { content: "\eb45"; }
  &--skip-previous:before { content: "\eb46"; }
  &--skip-previous-circle:before { content: "\eb47"; }
  &--sleepy:before { content: "\eb48"; }
  &--slider:before { content: "\eb49"; }
  &--slider-alt:before { content: "\eb4a"; }
  &--slideshow:before { content: "\eb4b"; }
  &--smile:before { content: "\eb4c"; }
  &--sort:before { content: "\eb4d"; }
  &--sort-a-z:before { content: "\eb4e"; }
  &--sort-down:before { content: "\eb4f"; }
  &--sort-up:before { content: "\eb50"; }
  &--sort-z-a:before { content: "\eb51"; }
  &--spa:before { content: "\eb52"; }
  &--space-bar:before { content: "\eb53"; }
  &--spreadsheet:before { content: "\eb54"; }
  &--square:before { content: "\eb55"; }
  &--square-rounded:before { content: "\eb56"; }
  &--star:before { content: "\eb57"; }
  &--station:before { content: "\eb58"; }
  &--stats:before { content: "\eb59"; }
  &--sticker:before { content: "\eb5a"; }
  &--stop:before { content: "\eb5b"; }
  &--stop-circle:before { content: "\eb5c"; }
  &--stopwatch:before { content: "\eb5d"; }
  &--store:before { content: "\eb5e"; }
  &--store-alt:before { content: "\eb5f"; }
  &--street-view:before { content: "\eb60"; }
  &--strikethrough:before { content: "\eb61"; }
  &--subdirectory-left:before { content: "\eb62"; }
  &--subdirectory-right:before { content: "\eb63"; }
  &--sun:before { content: "\eb64"; }
  &--support:before { content: "\eb65"; }
  &--swim:before { content: "\eb66"; }
  &--sync:before { content: "\eb67"; }
  &--tab:before { content: "\eb68"; }
  &--table:before { content: "\eb69"; }
  &--tag:before { content: "\eb6a"; }
  &--target-lock:before { content: "\eb6b"; }
  &--task:before { content: "\eb6c"; }
  &--taxi:before { content: "\eb6d"; }
  &--tennis-ball:before { content: "\eb6e"; }
  &--terminal:before { content: "\eb6f"; }
  &--test-tube:before { content: "\eb70"; }
  &--text:before { content: "\eb71"; }
  &--time:before { content: "\eb72"; }
  &--time-five:before { content: "\eb73"; }
  &--timer:before { content: "\eb74"; }
  &--tired:before { content: "\eb75"; }
  &--toggle-left:before { content: "\eb76"; }
  &--toggle-right:before { content: "\eb77"; }
  &--tone:before { content: "\eb78"; }
  &--train:before { content: "\eb79"; }
  &--transfer:before { content: "\eb7a"; }
  &--transfer-alt:before { content: "\eb7b"; }
  &--trash:before { content: "\eb7c"; }
  &--trash-alt:before { content: "\eb7d"; }
  &--trending-down:before { content: "\eb7e"; }
  &--trending-up:before { content: "\eb7f"; }
  &--trophy:before { content: "\eb80"; }
  &--tv:before { content: "\eb81"; }
  &--underline:before { content: "\eb82"; }
  &--undo:before { content: "\eb83"; }
  &--unlink:before { content: "\eb84"; }
  &--up-arrow:before { content: "\eb85"; }
  &--up-arrow-alt:before { content: "\eb86"; }
  &--up-arrow-circle:before { content: "\eb87"; }
  &--upload:before { content: "\eb88"; }
  &--upside-down:before { content: "\eb89"; }
  &--upvote:before { content: "\eb8a"; }
  &--usb:before { content: "\eb8b"; }
  &--user:before { content: "\eb8c"; }
  &--user-check:before { content: "\eb8d"; }
  &--user-circle:before { content: "\eb8e"; }
  &--user-minus:before { content: "\eb8f"; }
  &--user-pin:before { content: "\eb90"; }
  &--user-plus:before { content: "\eb91"; }
  &--user-voice:before { content: "\eb92"; }
  &--user-x:before { content: "\eb93"; }
  &--vertical-center:before { content: "\eb94"; }
  &--video:before { content: "\eb95"; }
  &--video-off:before { content: "\eb96"; }
  &--video-plus:before { content: "\eb97"; }
  &--video-recording:before { content: "\eb98"; }
  &--voicemail:before { content: "\eb99"; }
  &--volume:before { content: "\eb9a"; }
  &--volume-full:before { content: "\eb9b"; }
  &--volume-low:before { content: "\eb9c"; }
  &--volume-mute:before { content: "\eb9d"; }
  &--walk:before { content: "\eb9e"; }
  &--wallet:before { content: "\eb9f"; }
  &--wallet-alt:before { content: "\eba0"; }
  &--water:before { content: "\eba1"; }
  &--wifi:before { content: "\eba2"; }
  &--wifi-off:before { content: "\eba3"; }
  &--wind:before { content: "\eba4"; }
  &--window:before { content: "\eba5"; }
  &--window-close:before { content: "\eba6"; }
  &--window-open:before { content: "\eba7"; }
  &--windows:before { content: "\eba8"; }
  &--wink-smile:before { content: "\eba9"; }
  &--wink-tongue:before { content: "\ebaa"; }
  &--won:before { content: "\ebab"; }
  &--world:before { content: "\ebac"; }
  &--wrench:before { content: "\ebad"; }
  &--x:before { content: "\ebae"; }
  &--x-circle:before { content: "\ebaf"; }
  &--yen:before { content: "\ebb0"; }
  &--zoom-in:before { content: "\ebb1"; }
  &--zoom-out:before { content: "\ebb2"; }
}
  