@import (reference) "styles/variables.less";

.header {
  position: relative;
  width: 100%;
  
  &__background {
    background: url("../../images/background.jpg") no-repeat center bottom;
    background-size: cover;
    width: 100%;
    .var(height, header-height);
  }
}

.logo {
  position: absolute;
  .var(width, logo-size);
  .var(height, logo-size);
  .var(left, content-padding);
  bottom: -15px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid rgba(255, 255, 255, 0.5);

  &__image {
    width: 100%;
    height: 100%;
  }
}

.nav {
  width: 100%;
  .var(height, nav-height);
  .var(background, nav-background);
  .var(padding, nav-padding);
  .var(color, nav-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__icon {
    .var(width, nav-icon-size);
    .var(height, nav-icon-size);
    .var(margin, nav-icon-margin);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: border-color 400ms;

    &--active {
      .var(border-color, nav-color);
    }
  }
}