@import (reference) "styles/variables.less";

.content {
  margin: 0 auto;
  .var(max-width, content-max-width);
  .clearfix();

  address {
    margin: 4px 0;
    font-weight: 300;
    .var(color, content-address-color);

    &:before {
      content: "\eabc";
      speak: none;
      color: inherit;
      display: inline-block;
      font-family: 'Icons';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 6px;
    }
  }

  h1 {
    font-weight: 900;
    font-size: 1.66rem;
    .var(color, content-header-color);
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.42rem 0;
    float: left;
  }

  blockquote {
    margin: 1.42rem 0;
    padding-left: 45px;
    position: relative;
    float: left;
    .var(color, content-quote-color);
    font-style: italic;
    max-width: 370px;
    font-size: 1.1rem;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 28px;
      width: 4px;
      height: 100%;
      padding: 3px 0;
      margin-top: -3px;
      .var(background, content-quote-deco);
    }
  }
}